/* #root{
    color: blue;
    } */

.logo{
    width: 200px;
}

.header{
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    font-size: 20px;
}

.nav-items > ul{
    display: flex;
    /* text-decoration: none; */
    align-items: center;
    justify-content: space-between;
}


.nav-items > ul>li{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 0;
    padding: 0 20;
}

.login-Btn{
    padding: 5px 10px;
    margin: 0 2;
    background-color: lightgray;
}
.login-Btn:hover{
    cursor: pointer;
}
.search{

    padding: 20px;
    background-color: rgb(250, 241, 241);
    margin: 10px 0;

}
.res-card:hover{
    cursor: pointer;
    border: 1px solid gray;
}
.res-card{
    padding: 5px;
    background-color: #f0f0f0;
    width: 250px;
    height: 420px;
   
    /* text-align: justify; */

    margin: 10 15;
}

.res-card >h4{
    margin: 5;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-logo{
    width: 80%;
    text-align: center;
    margin: 0 20;
    
}

/* TOp Rated Filter btn */

.filter-btn{
    margin: 10;
    background-color: lightblue;
    padding: 10;
}

.filter-btn:hover{
    cursor: pointer;
}







/* Shimmer container  */

.shimmer-conatiner{
    display: flex;
    flex-wrap: wrap;
}

.fake-resCard{
    height: 300px;
    width: 300px;
    margin: 10px;
    background-color: lightgray;
}